@use '../../scss/utilities/variables' as vars;

.Form {
    margin: 0 auto 50px auto;
    padding: 30px 15px 20px 15px;
    max-width: 550px;
    background-color: vars.$white;
    border-radius: vars.$border-radius;

    &__innerFlexContainer {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 20px;
    }

    &__controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}