@use './variables' as vars;

%box-style {
    display: flex;

    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px 15px;

    text-align: justify;

    border-radius: vars.$border-radius;

    background-color: vars.$white;
}