@use './variables' as vars;

%form-style {
    max-width: 550px;
    margin: 0 auto 50px;

    border-radius: vars.$border-radius;
    background-color: vars.$white;
}

%box-style {
    display: flex;

    padding: 20px 15px;

    text-align: justify;

    @extend %form-style;
}

%form-flex-container {
    display: flex;
    flex-flow: column nowrap;
}

%form-controls-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}