@use '../../../scss/utilities/variables' as vars;
@use '../../../scss/utilities/placeholders';

.LoginForm {
    padding: 30px 15px 20px;

    &__title {
        color: vars.$indigo-800
    }

    &__innerFlexContainer {
        row-gap: 20px;

        @extend %form-flex-container;
    }

    &__controls {
        margin-top: 25px;

        @extend %form-controls-container
    }

    @extend %form-style;
}