@use '../../scss/utilities/variables' as vars;

.Balance {
    margin: 0 auto;
    max-width: 550px;
    padding: 20px 15px;
    margin-bottom: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: vars.$white;
    border-radius: vars.$border-radius;
    text-align: justify;
    text-transform: uppercase;
}